---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% if page.url == "/" %}
    <div class="floating-balloons" aria-hidden="true">
      <span class="balloon balloon--1"></span>
      <span class="balloon balloon--2"></span>
      <span class="balloon balloon--3"></span>
      <span class="balloon balloon--4"></span>
      <span class="balloon balloon--5"></span>
      <span class="balloon balloon--6"></span>
    </div>
    {% endif %}

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
